h1
{
    color: white;
    text-align: center;
}
button
{
    color: black;
    font-size: 32px;
    border-radius: 14px;
    padding:  20px;
    width: 200px;
    text-overline-color: black;

}
body
{
    background-color: black;
}
p
{
    color: white;
    font-size: 20px;
}